

h1{
    justify-content: center;
background-color: black;
    padding-left: 400px;

}

ul{
display: flex;
justify-content: space-between;
list-style: none;

}

.gh{
  text-decoration: none;
  color: black;
}

.container{
  position:absolute;
}

.bottom-left{
  position:absolute;
  text-decoration: none;
  color: aquamarine;
top: 30px;
right: 16px;
}

.style{
  display: inline-block;
position: absolute;
padding-left:350px;
}

.ye{
  position: absolute;
  text-decoration: none;
  color: darkorchid;
  top: 40px;
  right: 10px;
}

.new{
  display: inline-block;
  position: absolute;
 padding-left: 700px;
}

.new2{
  position: absolute;
  text-decoration: none;
  color: brown;
  bottom: 45px;
  right: 30px;
}

.shit{
 background-color: aquamarine;
 border-bottom: none;
height: 30px;
}

.c1{
  position: absolute;
  display: inline-block;
}
  
.c2{
  position: absolute;
  bottom: 45px;
  right: 60px;
  text-decoration: none;
 color: orangered;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.c3{

position: absolute;
padding-left: 400px;

}

.smell{
  text-decoration: none;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  padding-left: 400px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.f3{
  position: absolute;

 

}

.f4{
  position: absolute;

  bottom: 50px;
  right: 50px;
}

.f5{
  position: absolute;

padding-left: 400px;
}

.f6{
  position: absolute;

  top: 50px;
  left: 50px;
}

.see{
  bottom: 5000px;

}

